.home {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 200px;
  max-width: 1300px;
  margin: auto;
  margin-top: 50px;
  @media screen and (max-width: $screen-lg) {
    padding: 20px;
  }
  @media screen and (max-width: $screen-md) {
    grid-template-columns: 1fr;
  }
  &__last {
    margin-left: 20px;
    border: 1px solid $color-primary;
    padding: 15px;
    border-radius: 10px;
  }
  &__last-title {
    font-size: 20px;
    font-weight: $font-weight-bold;
    text-align: center;
    margin-bottom: 10px;
  }
  &__last-list {
    margin-left: 20px;
  } 
  &__last-item {
    font-size: 18px;
    color: #000;
    text-decoration: none;
  }
}