.home {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 200px;
  max-width: 1300px;
  margin: auto;
  margin-top: 50px;
  @media screen and (max-width: $screen-lg) {
    padding: 20px;
  }
  @media screen and (max-width: $screen-md) {
    grid-template-columns: 1fr;
  }
  &__last-words {
    margin-left: 20px;
  }
}