.search {
  width: 100%;
  margin-bottom: 100px;
  text-align: center;
  display: flex;
  @media screen and (max-width: 562px) {
    flex-wrap: wrap;
  }
  &__input {
    width: 100%;
  }
  &__button {
    height: 40px;
    padding: 10px 15px;
    background-color: $color-primary;
    color: #fff;
    border: 2px solid $color-primary;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 16px;
    @media screen and (max-width: 562px) {
      max-width: 400px;
      width: 100%;
      margin-top: 15px;
      margin-left: 0;
    }
  }
}
